## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [67]:
# Your code here

# random.sample se usa para elementos Ãºnicos...

sample_list_1 = random.sample(range(0, 101), 80)

print(sample_list_1)

[48, 83, 34, 22, 53, 43, 66, 86, 16, 35, 94, 17, 20, 10, 1, 13, 28, 49, 85, 42, 96, 25, 15, 51, 76, 87, 99, 84, 39, 65, 4, 64, 11, 68, 40, 89, 88, 92, 74, 82, 59, 62, 44, 8, 75, 36, 56, 32, 41, 26, 30, 29, 9, 0, 80, 50, 78, 2, 57, 58, 81, 95, 69, 45, 73, 70, 93, 71, 47, 12, 31, 46, 97, 3, 7, 67, 55, 77, 21, 23]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [68]:
# Your code here

set1 = set(sample_list_1)

print(f"La longitud de set1 es {len(set1)}.")

La longitud de set1 es 80.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [69]:
# Your code here

sample_list_2 = [random.randint(0, 100) for i in range(80)]

print(sample_list_2)

#help(set)
#help(random)

[69, 99, 68, 28, 57, 6, 27, 77, 22, 15, 23, 39, 5, 25, 50, 4, 96, 18, 31, 3, 5, 11, 41, 75, 42, 13, 89, 53, 52, 5, 11, 69, 0, 77, 88, 93, 85, 29, 12, 90, 19, 13, 60, 66, 53, 1, 23, 42, 69, 1, 20, 100, 1, 84, 66, 97, 3, 64, 44, 58, 77, 58, 53, 47, 11, 33, 97, 71, 5, 57, 32, 50, 9, 42, 55, 89, 84, 87, 13, 4]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [70]:
# Your code here

set2 = set(sample_list_2)

print(f"La longitud de set2 es {len(set2)}.")

La longitud de set2 es 53.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [71]:
# Your code here

set3 = set1 - set2

print(f"Los elementos de set1 que no aparecen en set2 son: {set3}")
print("\n")
print(set3)

Los elementos de set1 que no aparecen en set2 son: {2, 7, 8, 10, 16, 17, 21, 26, 30, 34, 35, 36, 40, 43, 45, 46, 48, 49, 51, 56, 59, 62, 65, 67, 70, 73, 74, 76, 78, 80, 81, 82, 83, 86, 92, 94, 95}


{2, 7, 8, 10, 16, 17, 21, 26, 30, 34, 35, 36, 40, 43, 45, 46, 48, 49, 51, 56, 59, 62, 65, 67, 70, 73, 74, 76, 78, 80, 81, 82, 83, 86, 92, 94, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [72]:
# Your code here

set4 = set2 - set1

print(f"Los elementos de set2 que no aparecen en set1 son: {set4}")
print("\n")
print(set4)

Los elementos de set2 que no aparecen en set1 son: {33, 100, 5, 6, 18, 19, 52, 90, 27, 60}


{33, 100, 5, 6, 18, 19, 52, 90, 27, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [73]:
# Your code here

set5 = set1.intersection(set2)

print(set5)

{0, 1, 3, 4, 9, 11, 12, 13, 15, 20, 22, 23, 25, 28, 29, 31, 32, 39, 41, 42, 44, 47, 50, 53, 55, 57, 58, 64, 66, 68, 69, 71, 75, 77, 84, 85, 87, 88, 89, 93, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [74]:
# Your code here

print(f"La longitud de set1 es {len(set1)}.")
print(f"La longitud de set2 es {len(set2)}.")
print(f"La longitud de set3 es {len(set3)}.")
print(f"La longitud de set4 es {len(set4)}.")
print(f"La longitud de set5 es {len(set5)}.")

La longitud de set1 es 80.
La longitud de set2 es 53.
La longitud de set3 es 37.
La longitud de set4 es 10.
La longitud de set5 es 43.

#### Create an empty set called `set6`.

In [75]:
# Your code here

set6 = set()

print(f"el set 6 esta vacio {set6}")

el set 6 esta vacio set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [76]:
# Your code here

set6 = set3.union(set5)

print(set6)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 20, 21, 22, 23, 25, 26, 28, 29, 30, 31, 32, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [77]:
# Your code here

if set1 == set6:
    print("Son iguales")
else:
    print("Son diferentes")

Son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [78]:
# Your code here

print("set1 contiene a set2 :",set2.issubset(set1))

print("set1 contiene a set3: ",set3.issubset(set1))

set1 contiene a set2 : False
set1 contiene a set3:  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [79]:
# Your code here

set345 = set3.union(set4).union(set5)
print(set345)

print("\n")

set12 = set1.union(set2)
print(set12)

print("\n")

if set345 == set12:
    print("set345 y set12 son iguales")
else:
    print("set345 y set12 son diferentes")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100}


{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100}


set345 y set12 son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [80]:
# Your code here

print(set1)

print("\n")

set1.pop()
print(set1)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 20, 21, 22, 23, 25, 26, 28, 29, 30, 31, 32, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 99}


{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 20, 21, 22, 23, 25, 26, 28, 29, 30, 31, 32, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [81]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for numero in list_to_remove:
    
    if numero in set1:
        
        set1.discard(numero)
        print(f"El {numero} ha sido eliminado de set1.")
    
    else:
        print("")

print("\n")
print(f"set1 ahora esta compuesto por los siguientes elementos: \n{set1}")

El 1 ha sido eliminado de set1.
El 9 ha sido eliminado de set1.
El 11 ha sido eliminado de set1.

El 21 ha sido eliminado de set1.
El 29 ha sido eliminado de set1.
El 31 ha sido eliminado de set1.
El 39 ha sido eliminado de set1.
El 41 ha sido eliminado de set1.
El 49 ha sido eliminado de set1.
El 51 ha sido eliminado de set1.
El 59 ha sido eliminado de set1.

El 69 ha sido eliminado de set1.
El 71 ha sido eliminado de set1.

El 81 ha sido eliminado de set1.
El 89 ha sido eliminado de set1.

El 99 ha sido eliminado de set1.


set1 ahora esta compuesto por los siguientes elementos:
{2, 3, 4, 7, 8, 10, 12, 13, 15, 16, 17, 20, 22, 23, 25, 26, 28, 30, 32, 34, 35, 36, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 55, 56, 57, 58, 62, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97}